In [5]:
import numpy as np
import pandas as pd

* Load the dataset.

In [6]:
df = pd.read_csv('D:\Progetti\Adult Data EDA\data.csv')
df.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

* Define distribution of races.

In [7]:
df['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

* What's the average age of men?

In [8]:
df.groupby(by='sex').agg('mean').loc['Male', 'age'].round(1)

39.4

* Percentage of people having a Bachelor's degree.

In [9]:
((df['education'].value_counts().loc['Bachelors']/len(df))*100).round(1)

16.4

* Define people with higher and lower education.

In [10]:
higher_education = df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])
lower_education=df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])==False

* Percentage of people making more than 50K with higher education.

In [11]:
round(((len(df.loc[(higher_education) & (df['salary']=='>50K')])/len(df.loc[higher_education]))*100), 1)

46.5

* Percentage of people making more than 50K with lower education.

In [12]:
round(((len(df.loc[(lower_education) & (df['salary']=='>50K')])/len(df.loc[lower_education]))*100), 1)

17.4

* Minimum hours worked per week.

In [13]:
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

* Percentage of people making more than 50K and working minimum working hours.

In [14]:
int((len(df.loc[(df['hours-per-week']==1) & (df['salary']=='>50K')])/len(df.loc[df['hours-per-week']==min_work_hours]))*100)

10

* Country having highest percentage of people making higher salary.

In [15]:
perc = round((df['native-country'][df['salary'] == '>50K'].value_counts() / df['native-country'].value_counts())*100, 1)
perc_country = pd.DataFrame(perc)
perc_country.reset_index(inplace=True)
perc_country.rename(columns = {'index':'Country', 'native-country':'Percentage'}, inplace=True)
perc_country.Percentage.astype(float)
perc_country

                       Country  Percentage
0                            ?        25.0
1                     Cambodia        36.8
2                       Canada        32.2
3                        China        26.7
4                     Columbia         3.4
5                         Cuba        26.3
6           Dominican-Republic         2.9
7                      Ecuador        14.3
8                  El-Salvador         8.5
9                      England        33.3
10                      France        41.4
11                     Germany        32.1
12                      Greece        27.6
13                   Guatemala         4.7
14                       Haiti         9.1
15          Holand-Netherlands         NaN
16                    Honduras         7.7
17                        Hong        30.0
18                     Hungary        23.1
19                       India        40.0
20                        Iran        41.9
21                     Ireland        20.8
22                       Italy        34.2
23                     Jamaica        12.3
24                       Japan        38.7
25                        Laos        11.1
26                      Mexico         5.1
27                   Nicaragua         5.9
28  Outlying-US(Guam-USVI-etc)         NaN
29                        Peru         6.5
30                 Philippines        30.8
31                      Poland        20.0
32                    Portugal        10.8
33                 Puerto-Rico        10.5
34                    Scotland        25.0
35                       South        20.0
36                      Taiwan        39.2
37                    Thailand        16.7
38             Trinadad&Tobago        10.5
39               United-States        24.6
40                     Vietnam         7.5
41                  Yugoslavia        37.5

In [16]:
top_salary_percentage = round((df['native-country'][df['salary'] == '>50K'].value_counts() / df['native-country'].value_counts())*100, 1).max()
top_salary_percentage

41.9

In [17]:
country_top_salary = perc_country.loc[perc_country.Percentage == top_salary_percentage].Country
country_top_salary

20    Iran
Name: Country, dtype: object

* Most popular occupation of India.

In [18]:
df['occupation'][df['native-country']=='India'][df['salary']=='>50K'].value_counts()

Prof-specialty      25
Exec-managerial      8
Other-service        2
Tech-support         2
Transport-moving     1
Sales                1
Adm-clerical         1
Name: occupation, dtype: int64